
@import "tailwindcss";
@theme {

  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-primary: #E58411
}

.section-container{
  @apply container mx-auto max-w-screen-2xl py-6 px-8;
}
